.transparent{
    -fx-background-color: rgba(0,0,0,0.0) ;
}
.hlines{
    -fx-grid-lines-visible: true;
}

.secline{
    -fx-background-color: #d8d8d8;
}

.cell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-grid-lines-visible: true;
}