.transparent{
    -fx-background-color: rgba(0,0,0,0.0) ;
}
.hlines{
    -fx-grid-lines-visible: true;
}

.secline{
    -fx-background-color: #514931;
}
.beline{
    -fx-background-color: #675e3c;
}

.cell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-grid-lines-visible: true;
}
.title{
    /*-fx-font: 18px Tahoma;*/
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-lines-spacing:0em;

}

.time{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.backgroundEvent {
    -fx-background-color: #9c979b;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.titleEvent{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}